html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    background-image: url('https://images.unsplash.com/photo-1514449372970-c013485804bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.main-container-dark {
    background-image: url('https://images.unsplash.com/photo-1513605177423-fecee1533c2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.dark-mode {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.dark-mode p {
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border-radius: 25px;
}

.container-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border-radius: 25px;
}

.container h1 {
    font-weight: 400;
    text-align: center;
    color: #c82828;
}

.container-dark h1 {
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.container p {
    color: rgb(120, 120, 120);
    font-size: 14px;
}

.container-dark p {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    text-align: center;
    color: rgb(120, 120, 120);
    padding: 1rem;
    font-size: 2rem;
    margin: 0.5rem;
}

.form-div {
    width: 70%;
}

.form-div p {
    text-align: center;
    font-size: 14px;
    margin: 1rem 0;
    color: rgb(120, 120, 120);
}

.form-div p a {
    text-decoration: none;
    color: #c82828;
}

.form-div p a:hover {
    text-decoration: underline;
}

.form-div-dark p {
    text-align: center;
    font-size: 14px;
    margin: 1rem 0;
    color: white;
}

.form-div-dark p a {
    text-decoration: none;
    color: #fff;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input-dark {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0.5rem 0;
    color: white;
}

.form-input label {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0.5rem 0;
    color: #c82828;
}

.form-input-dark label {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0.5rem 0;
    color: white;
}

.form-input input {
    border: none;
    border-bottom: 1px solid #c8282860;
    width: 100%;
    color: rgb(120, 120, 120);
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.0);
}

.form-input-dark input {
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.0);
}

.form-input-dark ::placeholder {
    color: white;
}

.form-input input:focus {
    outline: 0 none;
}

.form-input-dark input:focus {
    outline: 0 none;
}

.form-input button {
    margin: 1rem 0;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #c8282821;
    background-color: #c8282821;
    color: rgb(120, 120, 120);
}

.form-input-dark button {
    margin: 1rem 0;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.500);
    color: black;
}

.form-input button:hover {
    color: white;
    background-color: #c82828a9;
    transition: 500ms;
}

.form-input-dark button:hover {
    color: white;
    background-color: rgb(185, 99, 67);
    transition: 500ms;
}

.hide-label {
    visibility: hidden;
}

.show-label {
    visibility: visible;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255);
    position: absolute;
    border-radius: 25px;
    box-shadow: -10px 6px 20px rgb(120, 120, 120);
}

.form-div-recovery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.form-div-recovery p {
    color: rgb(120, 120, 120);
    text-align: center;
    padding: 0 1rem;
}

.password-recovery-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.password-recovery-input label {
    font-size: 14px;
}

.password-recovery-input input {
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(120, 120, 120);;
    width: 20rem;
    margin: 1rem;
    background-color: transparent;
}

.password-recovery-input input:focus {
    outline: 0 none;
}

.password-recovery-input button {
    width: 10rem;
    padding: 5px;
    border: 1px solid rgb(120, 120, 120);;
    border-radius: 25px;
}

.password-recovery-input button:hover {
    background-color: lightgray;
    color: white;
    transition: 500ms;
}

.close-icon span {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 1rem;
    font-size: 16px;
    border: 1px solid rgb(120, 120, 120);;
    padding: 2px 3px;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(120, 120, 120);;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#container-register{
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .form-div {
        width: 100%;
    }

    .container-dark {
        width: 80%;
    }

    .form-div-dark {
        width: 100%;
    }

    .forgot-password {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .form-div {
        width: 100%;
    }

    .container-dark {
        width: 90%;
    }

    .form-div-dark {
        width: 100%;
    }

    .forgot-password {
        width: 90%;
    }

    .form-div-recovery input{
        width: 90%;
    }

}